/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.google.com/specimen/Playfair+Display?preview.text=Bianchetti&preview.text_type=custom');

@import url('https://fonts.google.com/specimen/Quicksand?preview.text=Bianchetti&preview.text_type=custom');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Great+Vibes&family=Imperial+Script&family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');


/* == Global == */


*{
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

body , html {
    overflow-x: hidden;
    background-color: #edffef;
    overflow-x: hidden; /* Para evitar barras de rolagem horizontais */
	font-family: var(--type-body);
	color: hsl(0 0% 15%);
    margin: 0;
}


/*------------------------------NAVBAR------------------------------*/

/* == NAVBAR ==*/
.navbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 105px; 
    color:whitesmoke;
    background-color: #570D33; 
    filter: alpha(opacity=50);
    align-items: center;
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-txt {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.nav-txt:hover {
    color: #D3AB6B;
}
.nav-logo1{
    max-width: 100%;
    
}

.nav-logo1 img{
    margin-top: 5px;
    margin-bottom: 25px;
    width: 274px;
    margin-left: 10px;

}

/* .nav-logo a {
    color: whitesmoke;
    font-weight:lighter;
    font-family: 'Playfair Display', serif;
    font-size: 2.0rem;
} */


/* .nav-logo a:hover {
    color: #D3AB6B;
} */

.nav-links {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: auto 20px;
}

.navbar .toggle_btn {
    color: #D3AB6B;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.navbar .toggle_btn:hover {
    color: #D3AB6B;
}

.navbar .insta_btn a {
    font-size: 1.5rem;
    padding: 8px;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 2.2rem;
}

.navbar .insta_btn:hover {
    color:#D3AB6B;
    scale: 1.05;
}

.insta_btn:hover a {
    color: #D3AB6B;
}

.insta_btn:active {
    scale: 0.95;
}
/*DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 200px;
    background: #570d33a8;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}
.dropdown_menu.open{
    height: 230px;
}

.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*PARTE RESPONSIVA DA NAVBAR*/
@media(max-width: 992px) {
    .navbar .nav-links
    /* .navbar .insta_btn  */
    {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .navbar .nav-links
    /* .navbar .insta_btn */
    { 
        display: none;
    }

}

.navbar ul ul {
    position: absolute;
    overflow: hidden;
    display: none;
    width: 150px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.navbar li {
    padding: 5px;
    /* margin-top: 18px;
    margin-bottom: 25px;
    margin-left: 10px; */
}

.navbar ul li:hover ul {
    position: absolute;
    display: block;
    
}

.navbar ul ul li a {
    display: block;
    color: whitesmoke;
}

.navbar ul ul li a:hover {
    display: block;
    color: #D3AB6B;
}
/*------------------------------FIM NAVBAR------------------------------*/

body{
    background-color: #edffef;
}


/* Container holding the image and the text */
.container {
    margin-top: 70px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw; /* Adjust width as needed */
    height: 90vh; 
    background-image: linear-gradient(to bottom, #e4aec37c, #b3517662),url('/img/img_008.jpg');
    background-size:cover;
    /* background-blend-mode: multiply; Adjust blend mode as needed */

    background-position: center;
    background-repeat: no-repeat;
  }
/* Centered text */
.centered {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* padding-left: 20px; */
margin-left: auto;
margin-right: auto;
text-align: center;
}
.container h3{
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: justify;
    color:  rgb(182, 122, 157);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 50px;
}
.divider h1{
    font-size: 80px;
    display: flex;
    align-items: center;
    font-family: 'Imperial Script', cursive;
    color: rgb(122, 0, 72);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    padding-bottom: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .lineone{
    width: 320px;
    height: 4px;
    background: rgb(94, 0, 55);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;    
}


/*------------------------------CONHEÇA------------------------------*/
section{
    width: 95%;
    background-color: #edffef;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conheca h1{
    font-size: 8vmin;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line{
    width: 130px;
    height: 4px;
    background: #570D33;
    margin: 5px auto;    
}

.title {
    text-align: center;
    font-size: 3vmin;
    color:#eed2e0;
    font-family: 'Imperial Script';
    text-shadow: 1px 1px 1px black;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between, 100px;
    background-color: #edffef;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
}
.row .col img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.conheca .row{
    margin-top: 50px;
}

h4{
    font-size: 3.5vmin;
    color: black;
    margin: 20px auto;
    font-family: 'Roboto Condensed', bold;
}
p{
    color: #5c1527;
    padding: 0px 20px;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.75vmin;
}

.ctn{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 15px;
    background: #570D33;
    border-radius: 20px;
    color: #f1e3ea;
    font-family: 'Playfair Display', serif;
}


/*------------------------------FIM CONHEÇA------------------------------*/

/*------------------------------ORGANICA------------------------------*/

.organic {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#background-video {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar o vídeo ao tamanho da seção */
    z-index: 0; /* Coloca o vídeo atrás do conteúdo */
}

.organic-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
    text-align: left;
    padding: 100px 0;
    color: #ffffff;
}
.organic-content h1{
    font-size: 7vmin;
    margin: 30px;
    text-align: center;
    text-shadow: 1.5px 2.15px 1.5px black;
    color: #ffffff;
    font-family: 'Roboto Condensed';

}
.organic-content .line{
    margin-bottom: 50px;
}
.organic-content p {
    color: white;
    text-shadow: 1.5px 2.15px 1.5px black;
    text-align: center;
}
.organic .ctn{
    margin-top: 40;
}
/*------------------------------FIM ORGANICA------------------------------*/

/*------------------------------FOOTER------------------------------*/

.footer{
    margin-top: 40px;
    width: 95vw;
    height: 200px;
    text-align: center;
    color: #570D33;
}
.footer h2{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
.footer p{
    text-align: center;
    margin: 20px auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}