/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.google.com/specimen/Playfair+Display?preview.text=Bianchetti&preview.text_type=custom');

@import url('https://fonts.google.com/specimen/Quicksand?preview.text=Bianchetti&preview.text_type=custom');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Great+Vibes&family=Imperial+Script&family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
body{
    background-color: #edffef;
    display: flex;
    overflow-x: hidden;
    
}

body::before{
    content: "";
    background-image: url('./img/img_022.jpg');
    background-size: cover;
    position:fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.90;
    /*filter: brightness(65%);*/
    z-index: -1;
}

/*------------------------------NAVBAR------------------------------*/

/* == NAVBAR ==*/
.navbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 105px; 
    color:whitesmoke;
    background-color: #570D33; 
    filter: alpha(opacity=50);
    align-items: center;
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-txt {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.nav-txt:hover {
    color: #D3AB6B;
}
.nav-logo1{
    max-width: 100%;
    
}

.nav-logo1 img{
    margin-top: 5px;
    margin-bottom: 25px;
    width: 274px;
    margin-left: 10px;

}

/* .nav-logo a {
    color: whitesmoke;
    font-weight:lighter;
    font-family: 'Playfair Display', serif;
    font-size: 2.0rem;
} */


/* .nav-logo a:hover {
    color: #D3AB6B;
} */

.nav-links {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 25px;
}

.nav-links li {
    margin: auto 20px;
}

.navbar .toggle_btn {
    color: #D3AB6B;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.navbar .toggle_btn:hover {
    color: #D3AB6B;
}

.navbar .insta_btn a {
    font-size: 1.5rem;
    padding: 8px;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 2.2rem;
}

.navbar .insta_btn:hover {
    color:#D3AB6B;
    scale: 1.05;
}

.insta_btn:hover a {
    color: #D3AB6B;
}

.insta_btn:active {
    scale: 0.95;
}
/*DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 200px;
    background: #570d33a8;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}
.dropdown_menu.open{
    height: 230px;
}

.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*PARTE RESPONSIVA DA NAVBAR*/
@media(max-width: 992px) {
    .navbar .nav-links
    /* .navbar .insta_btn  */
    {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .navbar .nav-links
    /* .navbar .insta_btn */
    { 
        display: none;
    }

}

.navbar ul ul {
    position: absolute;
    overflow: hidden;
    display: none;
    width: 150px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.navbar li {
    padding: 5px;
    /* margin-top: 18px;
    margin-bottom: 25px;
    margin-left: 10px; */
}

.navbar ul li:hover ul {
    position: absolute;
    display: block;
    
}

.navbar ul ul li a {
    display: block;
    color: whitesmoke;
}

.navbar ul ul li a:hover {
    display: block;
    color: #D3AB6B;
}
/*------------------------------FIM NAVBAR------------------------------*/

/*------------------------------CAIXA DE CONTATO------------------------------*/

.form {
    grid-area: form;
}
.map {
    grid-area: map;
}
.info {
    grid-area: info;
}

.contato{
    margin-top: 87px;
    width: 79%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    
}

.caixa{
    position: relative;
    display: grid;
    grid-template: 
    "form info" 15em
    "form map" auto/2fr 1fr;
    grid-auto-flow: row;
    gap: 10px 20px;
    
}

.contato .form {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #edffef93;
    position: relative;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    box-shadow: 0px 5px 20px rgb(0, 0, 0,0.70);
    grid-row: 1;
    grid-column: 1;
    height: 96%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.contato .info {
    text-align: center;
    background-color: #edffef93;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    box-shadow: 0px 5px 20px rgb(0, 0, 0,0.70);
    grid-row: 1;
    grid-column: 2;
    height: 90%;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contato .info p{
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
}
.contato .info h3{
    margin-top: 10px;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

.contato .map {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #edffef93;
    margin: auto;
    width: 100%;
    box-shadow: 0px 5px 20px rgb(0, 0, 0,0.70);
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
}

.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/*.contato h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}*/

/*form*/
.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    font-family: 'Roboto Condensed', sans-serif;
    color: #a83771;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 900;
}
.inputBox input{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    font-size: 0.85em;
    outline: none;
    border: 1px solid #570D33;
    border-radius: 17px;
}
.inputBox textarea{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    font-size: 0.85em;
    outline: none;
    border: 1px solid #570D33;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    border-radius: 17px;
}
.inputBox input[type=submit]{
    
    font-family: 'Roboto Condensed', sans-serif;
    background: #570D33;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    font-size: 0.85em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;

}

.inputBox::placeholder{
    color: #999;
}

.whatsapp img{
    position: relative;
    top: 5px;
}

/*PARTE RESPONSIVA DA NAVBAR*/
@media screen and (max-width: 992px) {
    .caixa{
        grid-template-areas:
        "form"
        "form"
        "info"
        "map";
    }
    .contato .form{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .contato .info{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .contato .map{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }
}


@media screen and(max-width: 576px){
    .caixa{
        grid-template-areas:
        "form"
        "form"
        "info"
        "map";
    }
    .contato .form{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .contato .info{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .contato .map{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }

}

