/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.google.com/specimen/Playfair+Display?preview.text=Bianchetti&preview.text_type=custom');

@import url('https://fonts.google.com/specimen/Quicksand?preview.text=Bianchetti&preview.text_type=custom');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Great+Vibes&family=Imperial+Script&family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
body{
    background-color: #edffef;
    overflow-x: hidden;
}

/*------------------------------NAVBAR------------------------------*/

/* == NAVBAR ==*/
.navbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 105px; 
    color:whitesmoke;
    background-color: #570D33; 
    filter: alpha(opacity=50);
    align-items: center;
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-txt {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.nav-txt:hover {
    color: #D3AB6B;
}
.nav-logo1{
    max-width: 100%;
    
}

.nav-logo1 img{
    margin-top: 5px;
    margin-bottom: 25px;
    width: 274px;
    margin-left: 10px;

}

/* .nav-logo a {
    color: whitesmoke;
    font-weight:lighter;
    font-family: 'Playfair Display', serif;
    font-size: 2.0rem;
} */


/* .nav-logo a:hover {
    color: #D3AB6B;
} */

.nav-links {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 25px;
}

.nav-links li {
    margin: auto 20px;
}

.navbar .toggle_btn {
    color: #D3AB6B;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.navbar .toggle_btn:hover {
    color: #D3AB6B;
}

.navbar .insta_btn a {
    font-size: 1.5rem;
    padding: 8px;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 2.2rem;
}

.navbar .insta_btn:hover {
    color:#D3AB6B;
    scale: 1.05;
}

.insta_btn:hover a {
    color: #D3AB6B;
}

.insta_btn:active {
    scale: 0.95;
}
/*DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 200px;
    background: #570d33a8;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}
.dropdown_menu.open{
    height: 230px;
}

.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*PARTE RESPONSIVA DA NAVBAR*/
@media(max-width: 992px) {
    .navbar .nav-links
    /* .navbar .insta_btn  */
    {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .navbar .nav-links
    /* .navbar .insta_btn */
    { 
        display: none;
    }

}

.navbar ul ul {
    position: absolute;
    overflow: hidden;
    display: none;
    width: 150px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.navbar li {
    padding: 5px;
    /* margin-top: 18px;
    margin-bottom: 25px;
    margin-left: 10px; */
}

.navbar ul li:hover ul {
    position: absolute;
    display: block;
    
}

.navbar ul ul li a {
    display: block;
    color: whitesmoke;
}

.navbar ul ul li a:hover {
    display: block;
    color: #D3AB6B;
}
/*------------------------------FIM NAVBAR------------------------------*/


.header{
    margin-top: 120px;
    grid-area: header;
    background-color: #570D33;
    text-align: center;
    height: 50px;
    border-radius: 15px;
}

.header h3{
    margin-top: 0px;
    font-size: 35px;
    font-family: 'Playfair Display';
    color: #e6ba75;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right'
    'footer footer footer footer footer footer' ;
    /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left, .middle, .right{
    padding: 10px;
    height: 300px;
}

/* Style the left column */
.left {
    grid-area: left;
    text-align: center;
}
.left-img{
    width: auto;
    height: 100%;
    object-fit: cover;
}
.left img{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
  /* Style the middle column */
.middle {
    grid-area: middle;
    height: 100%;
    object-fit: cover;
  }

.middle p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: baseline;
    text-align: justify;
}
  
  /* Style the right column */
.right {
    grid-area: right;
    text-align: right;
}
.right img{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-img{
    width: auto;
    height: 100%;
    object-fit: cover;
}

/*Fotos*/
.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
.row,  .row > .column {
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
.content {
    border-radius: 15px;
    background-color: #570D33;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }

.content p{
    font-weight: 600;
    text-align: justify;
    color: #edffef;
}
.content h3{
    color: #e6ba75;
    font-weight: 800;
    font-size: 25px;
    margin-top: 7px;
    text-align: center;
}
.content img{
    border-radius: 15px;
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 920px) {
    .column {
      width: 50%;
    }
    .grid-container{
        display: grid;
        grid-template-areas: 
        'header' 
        'left' 
        'middle' 
        'right'
        'footer' ;
        /* grid-column-gap: 10px; - if you want gap between the columns */
    }

  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .grid-container{
        display: grid;
        grid-template-areas: 
        'header' 
        'left' 
        'middle' 
        'right'
        'footer' ;
        /* grid-column-gap: 10px; - if you want gap between the columns */
    }
  }


/* Style do video*/
.video {
    position: relative;
    
}

.video video{
    margin-left: 315px;
}


.video-inner {
    /* Positioned at the top left corner */

    position: absolute;
    top: 0px;

    /* Take full size */
 

    /* Hide the scrollbar */
    overflow: hidden;
}
.background-video{
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* Take full width */
    height: 100%;
    max-width: 70%;
    border-radius: 15px;
}


/*------------------------------FOOTER------------------------------*/

.footer{
    margin-top: 40px;
    width: 95vw;
    height: 200px;
    text-align: center;
    color: #570D33;
}
.footer h2{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
.footer p{
    text-align: center;
    margin: 20px auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
